.sign-in {
    width: 420px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
  
    .title {
      margin: 10px 0;
    }
  
    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  